<html>
<head>
<title><%title%></title>
</head>
<body topmargin="5" leftmargin="5" marginheight="5" marginwidth="5">

<table width="100%" bgcolor="#000000" cellpadding="0" cellspacing="0" border="0">
<tr><td>
  <table width="100%" border="0" cellpadding="5" cellspacing="0">
  <tr>
  <td colspan="2" bgcolor="steelblue" align="center">
  <b><%title%></b></td>
  </tr><tr>
  <td bgcolor="lightsteelblue" width="25%" align="right" valign="top">
  <font size="-1">
    <b>Author:</b><br>
    <%author%><br>
    <b>Date:</b><br>
    <nobr><%pubDate%></nobr></font>
  </td>
  <td bgcolor="#FFFFFF">
  <font face="sans serif">
  <%description%>  <br><br>
  <a href="<%link%>"><%link%></a> <br>
  </font>
  </td>
  </tr>
</table>
</font>
</td></tr></table>

</body>
</html>